<div class="container-fluid">
  <div class="row">
    <nav class="footer-nav">
      <!-- <ul>
        <li>
          <a href="" target="_blank">Manual</a>
        </li>
        <li>
          <a href="" target="_blank">FAQ</a>
        </li>
        <li>
          <a href="" target="_blank">Support</a>
        </li>
      </ul> -->
    </nav>
    <div class="credits ml-auto">
      <span class="copyright">
        <a href="" target="_blank">
          <div style="color: black;">Copyright (C) 2020 Lichtwork LLC.</div>
        </a>
      </span>
    </div>
  </div>
</div>
